/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/
// ALLEIC_CN configs

process {

    withName: 'MSKILABORG_NFJABBA:NFJABBA:ALLEIC_CN:NON_INTEGER_BALANCE' {
        ext.when         = { params.tools && params.tools.split(',').contains('alleic_cn') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/alleic_cn/non_integer_balance/${meta.id}/" },
                pattern: "*{.rds*,.command.*}"
        ]
    }

    withName: 'MSKILABORG_NFJABBA:NFJABBA:ALLEIC_CN:NON_INTEGER_BALANCE_WITH_GRIDSS' {
        ext.when         = { params.tools && params.tools.split(',').contains('alleic_cn') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/alleic_cn/non_integer_balance_with_gridss/${meta.id}/" },
                pattern: "*{.rds*,.command.*}"
        ]
    }

    withName: 'MSKILABORG_NFJABBA:NFJABBA:ALLEIC_CN:NON_INTEGER_BALANCE_WITH_SVABA' {
        ext.when         = { params.tools && params.tools.split(',').contains('alleic_cn') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/alleic_cn/non_integer_balance_with_svaba/${meta.id}/" },
                pattern: "*{.rds*,.command.*}"
        ]
    }

    withName: 'MSKILABORG_NFJABBA:NFJABBA:ALLEIC_CN:LP_PHASED_BALANCE' {
        ext.when         = { params.tools && params.tools.split(',').contains('alleic_cn') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/alleic_cn/lp_phased_balance/${meta.id}/" },
                pattern: "*{.rds*,.command.*}"
        ]
    }

    withName: 'MSKILABORG_NFJABBA:NFJABBA:ALLEIC_CN:LP_PHASED_BALANCE_WITH_GRIDSS' {
        ext.when         = { params.tools && params.tools.split(',').contains('alleic_cn') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/alleic_cn/lp_phased_balance_with_gridss/${meta.id}/" },
                pattern: "*{.rds*,.command.*}"
        ]
    }

    withName: 'MSKILABORG_NFJABBA:NFJABBA:ALLEIC_CN:LP_PHASED_BALANCE_WITH_SVABA' {
        ext.when         = { params.tools && params.tools.split(',').contains('alleic_cn') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/alleic_cn/lp_phased_balance_with_svaba/${meta.id}/" },
                pattern: "*{.rds*,.command.*}"
        ]
    }
}
