process {

    withName: 'MSKILABORG_NFJABBA:NFJABBA:BAM_QC_QUALIMAP_MOSDEPTH_SAMTOOLS:QUALIMAP_BAMQC' {
        ext.prefix       = { "${meta.id}.qualimap" }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QCreports/BAM/QUALIMAP/${meta.id}/" },
                pattern: "*{vcf.gz,txt.gz,vcf*,bam,.command.*}"
            ]
    }

    withName: 'MSKILABORG_NFJABBA:NFJABBA:BAM_QC_QUALIMAP_MOSDEPTH_SAMTOOLS:SAMTOOLS_STATS' {
        ext.prefix       = { "${meta.id}.samtools_stats" }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QCreports/BAM/SAMTOOLS_STATS/${meta.id}/" },
                pattern: "*{vcf.gz,txt.gz,vcf*,bam,.command.*}"
            ]
    }

    withName: 'MSKILABORG_NFJABBA:NFJABBA:BAM_QC_QUALIMAP_MOSDEPTH_SAMTOOLS:MOSDEPTH' {
        ext.prefix       = { "${meta.id}.mosdepth" }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QCreports/BAM/MOSDEPTH/${meta.id}/" },
                pattern: "*{vcf.bgz*,vcf*,.command.*}"
            ]
    }
}