// CBS configs

process {

    withName: 'NFCORE_HEISENBIO:HEISENBIO:CBS' {
        ext.when         = { params.tools && params.tools.split(',').contains('cbs') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/cbs/${meta.id}/" },
                pattern: "*{.rds}"
        ]
    }
}
