process {

    withName: 'NFCORE_HEISENBIO:HEISENBIO:TUMOR_DRYCLEAN:DRYCLEAN' {
        
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Coverages/Dryclean_tumor/${meta.id}/" },
                pattern: "*{.rds,drycleaned*}"
        ]
    }

    withName: 'NFCORE_HEISENBIO:HEISENBIO:NORMAL_DRYCLEAN:DRYCLEAN' {
        
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Coverages/Dryclean_normal/${meta.id}/" },
                pattern: "*{.rds,drycleaned*}"
        ]
    }
}