// Coverages configs

process {

    withName: 'NFCORE_HEISENBIO:HEISENBIO:TUMOR_FRAGCOUNTER:FRAGCOUNTER' {
        
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Coverages/fragCounter_tumor/${meta.id}/" },
                pattern: "*{.rds,.bw,cov*}"
        ]
    }

    withName: 'NFCORE_HEISENBIO:HEISENBIO:NORMAL_FRAGCOUNTER:FRAGCOUNTER' {
        
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Coverages/fragCounter_normal/${meta.id}/" },
                pattern: "*{.rds,.bw,cov*}"
        ]
    }
}
