/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/
//
// fragcounter configs
//

process {

    withName: 'NFCORE_HEISENBIO:HEISENBIO:TUMOR_FRAGCOUNTER:FRAGCOUNTER' {
        ext.when         = { params.tools && params.tools.split(',').contains('fragcounter') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Coverages/fragCounter_tumor/${meta.id}/" },
                pattern: "*{.rds,.bw,cov*}"
        ]
    }

    withName: 'NFCORE_HEISENBIO:HEISENBIO:NORMAL_FRAGCOUNTER:FRAGCOUNTER' {
        ext.when         = { params.tools && params.tools.split(',').contains('fragcounter') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Coverages/fragCounter_normal/${meta.id}/" },
                pattern: "*{.rds,.bw,cov*}"
        ]
    }
}
