// Hetpileups configs

process {

    withName: 'NFCORE_HEISENBIO:HEISENBIO:BAM_HETPILEUPS:HETPILEUPS' {
        ext.when         = { params.tools && params.tools.split(',').contains('hetpileups') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Hetpileups/hetpileups_wgs/${meta.id}/" },
                pattern: "*{.txt*}"
        ]
    }
}
