// Hetpileups configs

process {

    withName: 'NFCORE_HEISENBIO:HEISENBIO:BAM_FRAGCOUNTER:FRAGCOUNTER' {

        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Hetpileups/hetpileups_wgs/${meta.id}/" },
                pattern: "*{.txt*}"
        ]
    }
}
