/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/
// JABBA configs

process {

    withName: 'MSKILABORG_NFJABBA:NFJABBA:JABBA:JABBA' {
        ext.when         = { params.tools && params.tools.split(',').contains('jabba') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/JaBbA/jabba/${meta.id}/" },
                pattern: "*{.rds*,.vcf,.seg,.png,.txt,.command.*}"
        ]
    }

    withName: 'MSKILABORG_NFJABBA:NFJABBA:JABBA_WITH_SVABA:JABBA' {
        ext.when         = { params.tools && params.tools.split(',').contains('jabba') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/JaBbA/jabba_with_svaba/${meta.id}/" },
                pattern: "*{.rds*,.vcf,.seg,.png,.txt,.command.*}"
        ]
    }

    withName: 'MSKILABORG_NFJABBA:NFJABBA:JABBA_WITH_GRIDSS:JABBA' {
        ext.when         = { params.tools && params.tools.split(',').contains('jabba') }
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/JaBbA/jabba_with_gridss/${meta.id}/" },
                pattern: "*{.rds*,.vcf,.seg,.png,.txt,.command.*}"
        ]
    }
}
