
params {
    config_profile_name           = 'mskilab-org NYU BigPurple Cluster Profile'
    config_profile_description    = """
				    mskilab-org NYU School of Medicine BigPurple cluster profile to run nf-JaBbA.
				    !!Make sure to load both singularity/3.1 and squashfs-tools/4.3 before running nf-JaBbA with this profile!!
				    Ideal to make work folder on scratch as it generates whole lot of temporary files to run the pipeline
				    Make sure to submit the run as an SBATCH job since we don't own our own node at NYU yet!!
				    """.stripIndent()	
    config_profile_contact        = "Tanubrata Dey (tanubrata.dey@nyulangone.org)"
    config_profile_url            = "https://www.mskilab.org/"

    // Resources
    max_memory = 700.GB
    max_cpus = 256
    max_time = 10.d
}
process {

    // default SLURM node config
    beforeScript = """
        module load singularity/3.9.8
        module load squashfs-tools/4.3
	
    """
    .stripIndent()

    executor='slurm'

    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

}
executor {
    name = 'slurm'
    queueSize = 500
    submitRateLimit = '10 sec'
}
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/gpfs/data/imielinskilab/singularity_files/nextflow_singularity_cache"
}

