def singularityModule = "singularity/3.8.6"

params {
    config_profile_name           = 'mskilab-org NYGC cluster'
    config_profile_description    = "mskilab-org Nextflow config for NYGC cluster"
    config_profile_contact        = "tdey@nygenome.org"

    // Resources
    max_memory = 500.GB
    max_cpus = 256
    max_time = 240.h
}


process {

    // default SLURM node config
    beforeScript = """
        module unload java
        module load $singularityModule
        module load java
    """

    executor='slurm'
    queue='pe2'

    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

}

executor {
    name = 'slurm'
    queue = 'pe2'
    queueSize = 500
}

singularity {
    enabled = true
}




